
.row{
    text-align: center;
    color: white;
    line-height: 50px;
}

.col-lg-2.nested-green, .col-lg-8.nested-green,
.col-lg-6.nested-green {
    background-color:yellowgreen;
    border: 0px;
}
.col-lg-2.nested-green{
    flex-basis: calc(((100% / 12) * 2) - 2px);
    margin: 0 1px;
}

.col-lg-6.nested-green{
    flex-basis:calc(((100% / 12) * 6) - 2px);
    margin: 0 1px;
}

.col-lg-6.size, .col-lg-7.size,.col-lg-5.size{
    padding: 10px;
} 

section{
    margin-bottom: 20px;
}


